<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-g">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brain Tumor Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Brain Tumor Detection from MRI Scans</h1>
        <p>Upload an MRI image to predict if a tumor is present.</p>
        <div class="card">
            <input type="file" id="file-input" accept="image/*">
            <button id="predict-button">Predict</button>
        </div>
        <div id="result-container">
            <h2>Prediction Result:</h2>
            <p id="result-text">---</p>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>